extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner CSE4050 Caleb's Playground
    div.Message
      div.Title
        h3 HTML is better
        h1 When you RUN PUG RAIDS
      span.Details newb rush me
    div.NavButtons
      a(href="/user")
          div.NavButton   About me 
