extends layout

block layout-content
  div.View.UserView
    h1.Banner You are logged out     
    img(src="loggedout.jpg",id="wood" width="500" height="400") 
    h1 womp womp
    div.NavButtons
      a(href="/")
        div.NavButton Login

        